body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
}

#game-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: lightblue;
}

.bike {
  position: absolute;
  width: 50px;
  height: 30px;
  background-color: red;
  bottom: 10px;
}

.jump {
  animation: jump 0.6s ease-in-out; /* アニメーション時間を短くしてジャンプ速度を速くする */
}

@keyframes jump {
  0%, 100% {
    bottom: 10px;
  }
  50% {
    bottom: 120px; /* ジャンプの高さを増やす */
  }
}


.obstacle {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: green;
  right: -30px;
}

#score {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
}